{% extends 'partials/groups_base.html' %}
{% block title %} Feedback Form {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<div class="col-md-6 offset-md-3 p-3">
  <div class="card-header bg-info text-white id={{date}}">
    <h4> Followup Form: </h4>
  </div>
  <div class="card shadow text-center p-3">
  <div class="container d-flex justify-content-center">
    <h5>{{ new_convert }} {{ new_convert.new_convert.Surname }}: {{ new_convert.new_convert.CellNumber }}</h5>
  </div>
  <div class="container d-flex justify-content-center">
  <form method="POST">
    {% csrf_token %}
    {{ form }}

  <div class="mt-2" id="buttons">
  <a class="btn btn-danger btn-sm" href="{% url 'group_absent_followup' %}">Cancel</a>
  <input class="btn btn-primary bg-info btn-sm" type="submit" value="Submit">
  </div>
  </form>
  </div>
</div>
</div>

{% endblock %}