{% extends 'partials/groups_base.html' %}
{% block title %} New Convert Followup {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<div class="row-cols-12 container d-flex justify-content-md-center m-2">
  <div class="column m-2">

    <div class="row-cols-12 container d-flex justify-content-md-center">
      <div class="column m-2">
        <h2>New Convert Follow Up</h2>
    </div>
    </div>
    </div>
    </div>

  <!--Table-->
  <div class="container d-flex justify-content-center">
    <table class="table table-hover" id="absent_table">
        <thead class="bg-info">
          <tr class="text-white">
            <th class="" scope="col">Name</th>
            <th  class="text-nowrap" scope="col">Salvation Date</th>
            <th  class="text-nowrap" scope="col">Follow Up
              <span class="badge rounded-pill bg-danger ml-6">{{ due_count }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for convert in Followups_due %}
          <tr>
            
            <td><a href="{% url 'group_person_detail' convert.convert.id %}">{{ convert.convert.Name }} {{convert.convert.Surname}}</a></td>
            <td class="text-nowrap">{{ convert.dateofcommitment|date:"d-F-Y" }}</td>
            <td><a button class="btn btn-primary bg-info btn-sm m-2" href="{% url 'new_Convert_feedback' convert.id %}">Follow Up </a></td>
            
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>

{% endblock %}