{% load crispy_forms_tags %}
  
  <div class="" id="form1">
      <div class="container mt-3">
      <form action="{% url 'new_convert_referral_finalize' %}" method="POST">
        <input hidden value="{{convert}}" id="convert" name="convert">
        <input hidden value="{{submitted_feedback}}" id="submitted_feedback" name="submitted_feedback">

        {% csrf_token %}
        {{ form|crispy }}
      <div class="mt-2 d-flex justify-content-md-center" id="buttons">
      <a class="btn btn-danger btn-med m-2" href="{% url 'new_convert_followup' %}">Cancel</a>
      <input class="btn btn-primary bg-info btn-med m-2" type="submit" value="Submit">
      </div>
      </form>
      </div>
      <span class="border">
      <nav aria-label="...">
        <ul class="pagination pagination-sm m-2">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item" aria-current="page">
            <a class="page-link active" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </span>
    </div>