{% load crispy_forms_tags %}
<div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Make Request
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            
                            <input class="btn btn-info btn-block" type="submit" value="Make Request">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        New Converts
                    </div>
                    <div class="card-body">
                        <table class="table bg-white">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Language</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for followUp in followUps %}
                                {% if followUp.createdBy == user %}
                                <tr>
                                    <td>{{ followUp.convert }}</td>
                                    <td>{{ followUp.Language }}</td>
                                    <td>{{ followUp.convert.Gender }}</td>
                                    <td>{{ followUp.date }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
  </div>