{% extends 'partials/base.html' %}
{% block title %} Add Person {% endblock %}
{% load crispy_forms_tags %}
{% include 'partials/topnav.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3 class="bg-info text-white p-3">Add Parent</h3>
                
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                       
                <div class="form-check mb-3" id="group_option_form">
                  
                <div class="mt-2" id="buttons">
                <a class="btn btn-secondary" href="{% url 'group_attendance' %}">Cancel</a>
                <input class="btn btn-info" type="submit" value="Confirm">
                </div>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}