<div class="modal-dialog modal-dialog-centered" id="feedback_modal">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-white">{{ session }}: {{ date }}</h5>
      </div>
      <div class="modal-body">
        <ul>
        <li>Word Discussed: {{ feedback.word_discussed }}</li>
        <li>Prayed About: {{ feedback.prayed_about }}</li>
        <li>Testimonies: {{ feedback.testimonies }}</li>
        <li>Prayer Requests: {{ feedback.prayer_requests }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info"
        hx-get="{% url 'display_event_present_modal' %}"
                    hx-target="#feedback_modal"
                    hx-trigger="click" hx-vals='{"eventDate": "{{ date }}", "session": "{{ session }}"}'
                    hx-swap="outerHTML"
        >View Present</button>
        <button type="button" class="btn btn-warning"
        hx-get="{% url 'display_event_absent_modal' %}"
                    hx-target="#feedback_modal"
                    hx-trigger="click" hx-vals='{"eventDate": "{{ date }}", "session": "{{ session }}"}'
                    hx-swap="outerHTML"
        >View Absent</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
