<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-white">{{ session }}: {{ date }}</h5>
      </div>
      <div class="modal-body">
        <h3>Present:</h3>
        <ul>
          {% for attendee in attendee_list %}
        <li><a href="{% url 'group_person_detail' attendee.attendee.id %}">{{ attendee.attendee.Name }} {{ attendee.attendee.Surname }} </a></li>
        {% endfor %}
        </ul>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info"
        hx-get="{% url 'display_event_present_modal' %}"
                    hx-target="#feedback_modal"
                    hx-trigger="click" hx-vals='{"eventDate": "{{ date }}", "session": "{{ session }}"}'
                    hx-swap="outerHTML">View Feedback</button>
        <button type="button" class="btn btn-warning"
        hx-get="{% url 'display_event_absent_modal' %}"
                    hx-target="#feedback_modal"
                    hx-trigger="click" hx-vals='{"eventDate": "{{ date }}", "session": "{{ session }}"}'
                    hx-swap="outerHTML">View Absent</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
