<div class="modal-dialog modal-dialog-centered" id="feedback_modal">
  <div class="modal-content">
    <div class="modal-header bg-info">
      <h5 class="modal-title text-white">{{ session }}: {{ date }}</h5>
    </div>
    <div class="modal-body">
      <h3>Absent: {{ absentee_count }}</h3>
      <ul>
        {% for absentee in absentee_list %}
      <li><a href="{% url 'group_person_detail' absentee.absentee.id %}">{{ absentee.absentee.Name }} {{ absentee.absentee.Surname }} </a></li>
      {% endfor %}
      </ul>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info"
      hx-get="{% url 'redirect_display_event_feedback_modal' %}"
                  hx-target="#feedback_modal"
                  hx-trigger="click" hx-vals='{"eventDate": "{{ date }}", "session_attended_options": "{{ session }}"}'
                  hx-swap="outerHTML">View Feedback</button>
      <button type="button" class="btn btn-success"
      hx-get="{% url 'display_event_present_modal' %}"
                  hx-target="#feedback_modal"
                  hx-trigger="click" hx-vals='{"eventDate": "{{ date }}", "session": "{{ session }}"}'
                  hx-swap="outerHTML">View Present</button>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
