{% extends 'partials/groups_base.html' %}
{% block title %} Meetings {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
{% load static %}



<style> 
  .input-container {
    display: flex;
    margin-left: 40px; 
    margin-right: 40px;  
  }
  .input-container input {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  
  }
  </style>


<div class="input-container mt-4">
  <form method="POST">
 {% csrf_token %}
 {{ form.as_p }}
</form>
</div>

    <div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="col-md-11"></div>
<div class="card-header bg-info text-white">
  Feedback:
</div>
 <div class="" id="meeting_listings">
    <div class="card">
      
      {% for meetings in meetings_last_thirty_days %}
      <div class="card-body bg-tertiary">
          
        <div class="row">
          {% for meeting in meetings %}
            <div class="col-md-4 p-3">
                  <div class="card-header bg-info text-white id={{meeting.dateofvisit|date:'d F Y'}}">
                    <div class="container">
                    <div class="row d-flex inline">
                    <div class="col text-nowrap text-left">{{ meeting.session_attended}}:</div>
                    <div class="col text-nowrap text-right">{{meeting.dateofvisit|date:"d F Y"}}</div>
                     </div>
                     </div>
                  </div>
                  <div class="card my-card shadow text-center p-3" hx-get="{% url 'load_event_date_attendance' %}" hx-trigger="load"
                  hx-include="#id_session_attended_options" hx-vals='{"myVariable": "{{ meeting.dateofvisit|date:"d F Y" }}", "session_id": "{{ meeting.session_attended.id}}"}'
                  hx-swap="outerHTML">
                  <ul class="list_group list-group-flush">
                    <li class="list-group-item fw-bold text-start">Present: </li>
                    <li class="list-group-item fw-bold text-start">Absent</li> 
                    </div>
                
            </div>
            {% endfor %}
            </div>
            </div>
            {% endfor %}
            </div>
      </div>
  

{% endblock %}