<div class="container" id="guardian_select">
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="add_guardian" id="inlineRadio1" value="add_guardian" checked>
    <label class="form-check-label" for="inlineRadio1">Select to add parent/guardian</label>    
  </div>
<div>
<div class="containter">
  <h6>Has parent/guardian been entered?</h6>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="guardian_entered" id="inlineRadio1" value="yes">
    <label class="form-check-label" for="inlineRadio1">yes</label>
  </div>
  <div class="form-check form-check-inline mb-2">
    <input class="form-check-input" type="radio" name="guardian_entered" id="inlineRadio2" value="no">
    <label class="form-check-label" for="inlineRadio2">no</label>
  </div>
  </div>
  </div>
  </div>