<script>
  document.body.addEventListener('htmx:configRequest', (event) =>
  {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';

  });
</script>

<div class="container d-flex justify-content-center">
    <table class="table table-hover">
        <thead  class="sticky-top bg-info">
          <tr class="text-white">
            <th class="" scope="col">Name</th>
            <th class="text-nowrap" scope="col">Phone Number</th>
            <th id="id_present_attendance" class="" scope="col"
            hx-get="{% url 'update_attending_count' %}"
            hx-trigger="mark_attendee_present from:body"
            hx-include="#id_session_attended, #id_dateofvisit"
            hx-swap="outerHTML">Total: {{ attendee_list_count }}</th>
          </tr>
        </thead>
        <tbody>
    {% for member in members %}
    <tr id="row_{{ member.member_id }}">
        <td><a href="{% url 'group_person_detail' member.member_id %}">{{ member.member.Name }} {{ member.member.Surname }}</a></td>
        <td><a href="tel:{{ member.member.CellNumber}}">{{ member.member.CellNumber }}</td>
        <td>
            <a class="form-check form-switch">
                <input class="form-check-input switch" type="checkbox"
                       hx-get="{% url 'mark_attendee_present' member.member.pk %}"
                       hx-trigger="change" hx-target="#row_{{ member.member_id }}" hx-swap="outerHTML"
                       hx-include="#id_session_attended, #id_dateofvisit"
                       hx-on:mark_attendee_present="this.closest('tr').remove()"
                       name="" id="{{ member.pk }}">
                <label class="form-check-label" for="flexSwitchCheckDefault">Mark Present</label>
            </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
      </table>
    </div>
