
<div class="container d-flex justify-content-center">
  <form method="POST">
    {% csrf_token %}
    <row class="d-flex">
  <div class="column mt-1">
  <h6>Selected Parent:  {{ parent}} </h6>
  </div>
  <a class="btn btn-danger m-2 btn-sm" href="{% url 'addPerson_existingParent' child %}">Cancel</a>
  <input class="btn btn-info m-2 btn-sm text-white" type="submit" value="Confirm"
  style="cursor: pointer;"
  hx-post="confirmed_exisiting_parent"
  hx-vals='{"parentName": "{{ parent }}", "child_id": {{ child }}}'>
  </row>
  </form>

  </div>
  
  