<div class="col-md-11"></div>
 <div class="" id="meeting_listings">
    

{% if groupFeedback  == 'No feedback provided' %}
<div class="card my-card shadow text-center p-3">
<ul class="list_group list-group-flush">
    <li class="list-group-item fw-bold text-start">Present: {{ count}}</li>
    <li class="list-group-item fw-bold text-start">Absent: {{absent}}</li>  
                    </ul>
                    <button id="feedback_button" class="btn bg-warning" hx-get="{% url 'noFeedback_button' %}" hx-include="#id_session_attended_options" 
                    hx-vals='{"eventDate": "{{ date }}", "session_id": "{{ session_id }}"}', hx-target="#emailSent{{ id_add }}">Request Feedback</button> 
                    <div id="emailSent{{ id_add }}"></div>   
                      </div>
                      

{% else %}
<div class="card my-card shadow text-center p-3">
<ul class="list_group list-group-flush">
    <li class="list-group-item fw-bold text-start">Present: {{ count}}</li>
    <li class="list-group-item fw-bold text-start">Absent: {{absent}}</li>
                    </ul>
                    <button id="feedback_button"
                    hx-get="{% url 'display_event_feedback_modal' %}"
                    hx-target="#modals-here"
                    hx-trigger="click"
                    hx-include="#id_session_attended_options" hx-vals='{"eventDate": "{{ date }}", "session_id": "{{ session_id }}"}'
                    data-bs-toggle="modal"
                    data-bs-target="#modals-here"
                    class="btn bg-info">View Feedback</button>    
                                      </div>

{% endif %}