{% extends 'partials/groups_base.html' %}
{% block title %} Attendance {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<style> 

  .headr1 { 
      position: sticky; 
      top: calc(0px + 2rem);
      z-index:1010;
  } 



  .topBar {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background-color:white;
  
  }
  
</style> 

<div id="modals-here"
class="modal modal-blur fade"
style="display: none"
aria-hidden="false"
tabindex="-1">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content"></div>
</div>
</div>

<div class="topBar container d-flex justify-content-md-center">
  <div class="row row-cols-12 row-cols-md-12">
  <form method="POST" class="d-flex flex-wrap">
    
      <input class="m-2" type="text" id="searchField" placeholder="Search"
      hx-get="load_searchByTyping_add_present_passenger"
      hx-target="#attendance_table"
      hx-trigger="keyup changed delay:100ms"
      hx-include="#id_dateoftrip"
      name="search"
      >

    <a button class="btn btn-primary bg-info btn-sm m-2" hx-get="load_passenger_members_list" hx-include="#id_dateoftrip" hx-target="#attendance_table" href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
      <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
    </svg></a>
  <div class="d-flex inline mb-2"
  hx-trigger="load"
  hx-get="class_serviceComdinedOptions/{{user_id}}"
  hx-target="#id_class_attending">
  {% csrf_token %}
  {{ form }}
  </div>
  <div class="d-flex inline">
  <!-- TEST MODAL VIEW PRESENT-->

  <a button class="btn btn-primary bg-info  btn-sm m-2"
                    hx-get="{% url 'transport_check_present' %}"
                    hx-target="#modals-here"
                    hx-trigger="click"
                    hx-include="#id_dateoftrip"
                    data-bs-toggle="modal"
                    data-bs-target="#modals-here"
                    class="btn bg-info">View Present</a>    
                                      </div>
  <!--<a button class ="btn btn-primary bg-info  btn-sm m-2" href="{% url 'present_bysession' %}">View Present</a> -->
    <input class="btn btn-primary bg-info btn-sm m-2" type="submit" value="Give Feedback">
    <a button class="btn btn-primary bg-info  btn-sm m-2" href="{% url 'add_passenger' %}">Add
      <svg xmlns="" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
      </svg>
    </a>
    </div>
  </form>
  </div>
  </div> 
 
<div class="app-table" id="attendance_table" hx-get="load_passenger_members_list", hx-include="#id_dateoftrip", hx-target="#attendance_table", hx-trigger="load">
  <!--Table-->
<div class="container d-flex justify-content-center">
  <table class="table table-hover">
      <thead class="bg-info">
        <tr class="text-white">
          <th class="" scope="col">Name</th>
          <th class="text-nowrap" scope="col">Phone Number</th>
          <th class="" scope="col">Total: {{ attendee_list_count }}</th>
          <th class="" id="switchCount" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Please select a session type</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

{% endblock %}