{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
    <link rel="manifest" href="{% static '/churchApp.json' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="RSCFC">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" href="{% static '/icon-512.png' %}">
   



    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static '/style.css' %}">

    {% load static %}
<script src="{% static 'htmx.min.js' %}" defer></script>

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

    {% include 'partials/nav_groups.html' %}
    
    

    {% block content %}

    {% endblock %}


    
  </body>
</html>
